@import '../../../assets/styles/mixins.scss';
@import '../../../assets/styles/variables.scss';

.block-head {
    margin-top: 66px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}
.assets {
    margin-top: 22px;
    @include mobile {
        margin-top: 16px;
    }
    &-toggler {
        margin-left: $left-offset;
        display: inline-flex;
        align-items: center;
        font-size: 16px;
        line-height: 19px;
        font-weight: 500;
        cursor: pointer;
        user-select: none;
        @include tablet {
            margin-left: $left-offset-tablet;
        }
        @include mobile {
            margin-left: $left-offset-mobile;
        }
        svg {
            margin-left: 12px;
            color: #b8b7b7;
        }
    }
    &-list {
        margin-top: 28px;
        display: flex;
        flex-wrap: wrap;
        gap: 26px;
        @include mobile {
            margin-top: 24px;
            gap: 16px;
            flex-direction: column;
        }
    }
}