$main-font: "Gilroy";

$duration: 0.3s;

$container-width: 1160px;
$container-width-wide: 1368px;
$footer-container-width: 1128px;

$container-padding-x: 16px;

$block-padding-y: 36px;
// $block-padding-y: 150px;
$block-padding-y-tablet: 20px;
// $block-padding-y-tablet: 100px;
$block-padding-y-mobile: 64px;

$black: #110229;
$grey: #8f90a6;
$grey-border: #dcdceb;

$green: #2fa451;
$green09: rgba(47, 164, 81, 0.9);
$blue: #1994d9;

$theme-gradient: linear-gradient(90.04deg, #1994d9 30.63%, #2fa451 67.09%);

$tablet-max-width: 1023px;
$mobile-max-width: 767px;

$border-radius-big: 50px;
$border-radius-big-tablet: 36px;
$border-radius-big-mobile: 24px;

$left-offset: 44px;
$left-offset-tablet: 36px;
$left-offset-mobile: 24px;
